/** W05 Prove page **/
.regular-checkbox label:before{
    -webkit-appearance: none;
    border-radius: 3px;
}

.regular-checkbox:checked{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
}

.wrapper {
    float:left;
}

#block1 {
    float:left;
}

.wrapper3{
    float:left;
}